{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": 0,
    "no-console": "off",
    "no-shadow": "off",
    "prefer-promise-reject-errors": "off",
    "prefer-const": "off",
    "no-await-in-loop": "off", // can't help

  },
  "parser": "babel-eslint"
}
